.a {
    text-align: center;
    background-color: rgb(253, 244, 244);
}
.b {
    text-align: center;
}
.c {
    text-align: center;
}

.d{
    text-align: center;
    background-color: #954e9f;
    padding: 3px;
    border-radius: 3px;
}
.e {
    text-align: center;
    margin: 5px;
}
.botão {
    text-align: center;
}


